<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class='panel-heading'>
        <h4 class="panel-title">This Month</h4>
      </div>
      <div class="panel-body sidebar">
      <%= render partial: "budget_progress" %>
      </div>
    </div>
  </div>
  <div class="col-md-9">
    <h4>Budget</h4>
  </div>
</div>