/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css";

.container{
  width: 800px;
}

.money-color{
  color: #4ba90a;
}


.navbar-dropdown{
  width: 320px;
  padding: 15px;
}

.navbar-dropdown a:link{
  text-decoration: none;
  color: black;
}

.navbar-dropdown:before, .navbar-dropdown:after
{
    display: table;
    content: "";
    line-height: 0;
}

.dropdown-menu {
padding: 0px !important;
overflow: hidden;
}
.navbar-footer {
    background-color:#ddd;
}
.navbar-footer-content { padding: 10px 10px 10px 10px; }